
@font-face {
    font-family: "Exo";
    src: url(../fonts/Exo-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Exo";
    src: url(../fonts/Exo-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Exo";
    src: url(../fonts/Exo-SemiBold.ttf);
    font-weight: 600;
}
