
/* @media(max-width: 767px) {
    .nav__menu {
        position: fixed;
        background: hsla(0, 0%, 100%, 0.1);
        top: 0;
        right:-100%;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        backdrop-filter: blur(96px);
    }
} */
